# Ignore Python cache and virtual environments
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
.venv/
env/
venv/

# Ignore data and model files
*.xlsx
*.npy
*.h5
*.pkl
*.pt
*.npy
*.csv
data/
# Streamlit secrets
.streamlit/secrets.toml

# System files
.DS_Store
Thumbs.db
